body {
    margin: 0;
}

#body {
    overflow: hidden;
}

#drop_zone {
    position: absolute;
    align-items: center; 
    justify-content: center;

    width: 100%;
    height: 100%;
    margin: 0;
}

#google {
    width: 100%;
    height: 100%;
    margin: 0;
}
